[submodule "benchmarks/ethics-dataset"]
	path = benchmarks/ethics-dataset
	url = git@github.com:TetraspaceW/ethics-dataset.git

[submodule "models/OpenHermes-2.5-Mistral-7B"]
        path = models/OpenHermes-2.5-Mistral-7B
        url = git@hf.co:teknium/OpenHermes-2.5-Mistral-7B

[submodule "benchmarks/machiavelli"]
	path = benchmarks/machiavelli
	url = git@github.com:EduardoNeville/machiavelli.git
[submodule "benchmarks/llm_rules"]
	path = benchmarks/llm_rules
	url = git@github.com:normster/llm_rules.git
